.location-box {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 50, 0.5);
}
.location-box .location,
.date {
  font-size: 2rem;
}
.date {
  margin: 0 1rem;
}
